@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@font-face {
  font-family: "Voga";
  src: url(../../fonts/Voga-Medium.otf);
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 80px;
  font-family: "Voga";
}
header .logo {
  font-size: 50px;
}
header .logo:hover {
  font-size: 54px;
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
header li {
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  transition: 0.5s;
}
header a:hover {
  border-bottom: 1px #AF1E15 solid;
  letter-spacing: 2px;
}

.row > * {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 40px;
  padding-bottom: 20px;
}
footer a {
  color: white;
  font-family: "Voga";
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}
footer a:hover {
  color: #AF1E15;
}
footer a img {
  height: 30px;
  padding-right: 20px;
}

#hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../images/The_Barque_of_Dante.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Voga";
  color: white;
}
#hero h1 {
  font-size: 240px;
  letter-spacing: 18px;
}
#hero h2 .divine {
  margin: 20px;
  transition: 0.2s;
}
#hero h2 .divine:hover {
  color: #AF1E15;
}

#dante {
  background-image: url(../../images/florence.jpg);
}

.dante {
  height: 100vh;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
.dante .dante-face {
  background-image: url(../../images/Portrait_Dante.jpg);
  height: 100%;
  background-size: cover;
  border-right: 80px rgba(175, 30, 21, 0.4) solid;
}
.dante .dante-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dante .dante-text h1 {
  font-family: "Voga";
  font-size: 100px;
  padding: 0 40px;
  transition: 0.2s;
  color: #AF1E15;
}
.dante .dante-text h1:hover {
  color: white;
}
.dante .dante-text p {
  font-size: 20px;
  font-family: "Baskervville";
  color: white;
  padding-right: 80px;
}

.row > * {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.back-color-parts {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(175, 30, 21) 60%);
  width: 100%;
}

.divine-parts {
  margin: 0;
  padding: 0;
}
.divine-parts .parts {
  margin: 0;
}
.divine-parts .parts .part-img-col {
  height: 100vh;
}
.divine-parts .parts .col a {
  text-decoration: none;
}
.divine-parts .parts .col .part-img {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.4s ease;
}
.divine-parts .parts .col .part-img:hover {
  border: 40px rgba(175, 30, 21, 0.4) solid;
  letter-spacing: 8px;
}
.divine-parts .parts .col .part-img h2 {
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  font-family: "Voga";
  color: white;
  font-size: 100px;
  background-color: rgba(175, 30, 21, 0.4);
}
.divine-parts .parts .col .p1 {
  background-image: url(../../images/inferno.jpg);
}
.divine-parts .parts .col .p2 {
  background-image: url(../../images/purgatorio.jpg);
}
.divine-parts .parts .col .p3 {
  background-image: url(../../images/Par_21_dore.jpg);
}
.divine-parts .paradiso {
  color: rgb(175, 30, 21);
}
.divine-parts .purgatorio {
  color: white;
}
.divine-parts .part-comedy {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divine-parts .part-comedy h2 {
  font-family: "Voga";
  font-size: 300px;
}
.divine-parts .part-comedy p {
  padding: 0 100px;
  font-family: "Baskervville";
  font-size: 18px;
}

/*# sourceMappingURL=app.css.map */
