@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@font-face {
  font-family: "Voga";
  src: url(../../fonts/Voga-Medium.otf);
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 80px;
  font-family: "Voga";
}
header .logo {
  font-size: 50px;
}
header .logo:hover {
  font-size: 54px;
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
header li {
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  transition: 0.5s;
}
header a:hover {
  border-bottom: 1px #AF1E15 solid;
  letter-spacing: 2px;
}

@media only screen and (max-width: 576px) {
  header {
    height: fit-content;
    flex-direction: column;
    padding-top: 10px;
  }
  header ul {
    padding: 0;
  }
  header li {
    padding: 10 20px;
  }
  header a {
    font-size: 18px;
  }
}
.row > * {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 40px;
  padding-bottom: 20px;
}
footer a {
  color: white;
  font-family: "Voga";
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}
footer a:hover {
  color: #AF1E15;
}
footer a img {
  height: 30px;
  padding-right: 20px;
}

#hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../images/The_Barque_of_Dante.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Voga";
  color: white;
}
#hero h1 {
  font-size: 240px;
  letter-spacing: 18px;
}
#hero h2 .divine {
  margin: 20px;
  transition: 0.2s;
}
#hero h2 .divine:hover {
  color: #AF1E15;
}

@media only screen and (max-width: 576px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 100px;
    letter-spacing: 2px;
  }
  #hero h2 {
    font-size: 20px;
  }
  #hero h2 .divine {
    margin: 10px;
  }
}
#dante {
  background-image: url(../../images/florence.jpg);
}

.dante {
  height: 100vh;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
.dante .dante-face {
  background-image: url(../../images/Portrait_Dante.jpg);
  height: 100%;
  background-size: cover;
  border-right: 80px rgba(175, 30, 21, 0.4) solid;
}
.dante .dante-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dante .dante-text h1 {
  font-family: "Voga";
  font-size: 100px;
  padding: 0 40px;
  transition: 0.2s;
  color: #AF1E15;
}
.dante .dante-text h1:hover {
  color: white;
}
.dante .dante-text p {
  font-size: 20px;
  font-family: "Baskervville";
  color: white;
  padding-right: 80px;
}

@media only screen and (max-width: 576px) {
  #dante {
    background-image: none;
  }
  .dante .dante-face {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    z-index: -1;
  }
  .dante .dante-text {
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    margin-top: 320px;
  }
  .dante .dante-text h1 {
    padding: 0;
  }
  .dante .dante-text p {
    padding: 40px;
    font-size: 16px;
    background-color: rgba(175, 30, 21, 0.3);
  }
}
.row > * {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.back-color-parts {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(175, 30, 21) 60%);
  width: 100%;
}

.divine-parts {
  margin: 0;
  padding: 0;
}
.divine-parts .parts {
  margin: 0;
}
.divine-parts .parts .part-img-col {
  height: 100vh;
}
.divine-parts .parts .col a {
  text-decoration: none;
}
.divine-parts .parts .col .part-img {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.4s ease;
}
.divine-parts .parts .col .part-img:hover {
  border: 40px rgba(175, 30, 21, 0.4) solid;
  letter-spacing: 1px;
}
.divine-parts .parts .col .part-img h2 {
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  font-family: "Voga";
  color: white;
  font-size: 100px;
  background-color: rgba(175, 30, 21, 0.4);
}
.divine-parts .parts .col .p1 {
  background-image: url(../../images/inferno.jpg);
}
.divine-parts .parts .col .p2 {
  background-image: url(../../images/purgatorio.jpg);
}
.divine-parts .parts .col .p3 {
  background-image: url(../../images/Par_21_dore.jpg);
}
.divine-parts .paradiso {
  color: rgb(175, 30, 21);
}
.divine-parts .purgatorio {
  color: white;
}
.divine-parts .part-comedy {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divine-parts .part-comedy h2 {
  font-family: "Voga";
  font-size: 300px;
}
.divine-parts .part-comedy p {
  padding: 0 100px;
  font-family: "Baskervville";
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  .divine-parts .part-comedy {
    height: 120vh;
  }
  .divine-parts .part-comedy h2 {
    font-size: 80px;
  }
  .divine-parts .part-comedy p {
    padding: 0 60px;
    font-size: 16px;
  }
}
* {
  padding: 0;
}

#inferno-hero {
  background-image: url(../../images/2638px-Gustave_Doré_-_Dante_Alighieri_-_Inferno_-_Plate_10_\(Canto_III_-_Charon_herds_the_sinners_onto_his_boat\).jpg);
  height: 100vh;
  width: 100%;
  background-size: cover10;
  background-position: center;
  display: flex;
  align-items: center;
}
#inferno-hero h1 {
  text-align: center;
  font-family: "Voga";
  font-size: 600px;
  color: #AF1E15;
  background-color: rgba(255, 255, 255, 0.2);
}

.inferno-2-text {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-image: url(../../images/DVinfernoCiampoloDemonAlichino_m.jpg);
  background-size: cover;
  background-position: center;
}
.inferno-2-text p {
  text-align: center;
  padding: 200px;
  font-size: 24px;
  font-family: "Berskersvville";
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.inferno-parts {
  padding-top: 80px;
  background-image: url(../../images/levels.jpg);
  background-size: cover;
  background-position: center20;
  height: 100vh;
  width: 100%;
}
.inferno-parts .row {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Voga";
  font-size: 60px;
  letter-spacing: 4px;
}

@media only screen and (max-width: 576px) {
  #inferno-hero {
    padding-top: 140px;
  }
  #inferno-hero h1 {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 90px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .inferno-2-text {
    height: 120vh;
  }
  .inferno-2-text p {
    padding: 0 20px;
    word-spacing: 4px;
    font-size: 16px;
  }
  .inferno-parts {
    padding-top: 160px;
    background-position: center;
  }
  .inferno-parts .row {
    letter-spacing: 2px;
    font-size: 40px;
  }
}
::placeholder {
  color: white;
}

.contact-main {
  background-image: url("../../images/2702px-Gustave_Doré_-_Dante_Alighieri_-_Inferno_-_Plate_65_(Canto_XXXI_-_The_Titans).jpg");
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main .form-inputs form {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.contact-main .form-inputs form textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px rgba(175, 30, 21, 0.6) solid;
  background-color: rgba(175, 30, 21, 0.6);
  color: white;
}
.contact-main .form-inputs form input {
  margin: 10px 0;
  padding: 10px 20px;
  width: fit-content;
  border: 2px rgba(175, 30, 21, 0.6) solid;
  background-color: rgba(175, 30, 21, 0.6);
  margin-right: 20px;
  color: white;
}
.contact-main .form-inputs form .buttons input {
  padding: 6px 10px;
  margin-right: 20px;
  color: white;
}
.contact-main .map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact-main .map iframe {
  width: 90%;
  height: 90%;
  border: 10px rgba(175, 30, 21, 0.2) solid;
}

@media only screen and (max-width: 576px) {
  .contact-main {
    padding-top: 180px;
  }
  .contact-main .map {
    align-items: start;
    height: 400px;
  }
}

/*# sourceMappingURL=app.css.map */
