@font-face {
    font-family: "Voga";
    src: url(../fonts/Voga-Medium.otf);
}

#hero {
    background-image: url(../images/The_Barque_of_Dante.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

#hero h1 {
    color: wheat;
}