
.row > * {
    padding:0;
}

#dante {
    background-image: url(../../images/florence.jpg);
}


.container-fluid {
    
    height: 100vh;
    width: 80vw;
    padding-left: 0;
    padding-right: 0;


    .col-4 {
        .dante-face {
            background-image: url(../../images/Portrait_Dante.jpg);
            height: 100%;
            background-size: cover;
            
        }
    }

    .col-8 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        h1 {
            font-family: "Voga";
            font-size: 100px;
            padding: 0 40px;
            transition: .2s;

            &:hover {
                color: #AF1E15;
            }
        }

        p {
            font-size: 20px;
            font-family: "Baskervville";
            color: white;
        }
    }
}