

#dante {
    background-image: url(../../images/florence.jpg);
}


.dante {
    
    height: 100vh;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;

    .dante-face {
        background-image: url(../../images/Portrait_Dante.jpg);
        height: 100%;
        background-size: cover;
        border-right: 80px $primary-color-low-opacity solid;
            
    }

    .dante-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        h1 {
            font-family: "Voga";
            font-size: 100px;
            padding: 0 40px;
            transition: .2s;
            color: $primary-color;

            &:hover {
                color: white;
            }
        }

        p {
            font-size: 20px;
            font-family: "Baskervville";
            color: white;
            padding: 60px;
            padding-right: 80px;
            background-color: $primary-color-low-opacity;
        }
    }
}

@media only screen and (max-width: 576px) {
    #dante {
        background-image: none;
    }
    
    .dante {
        .dante-face {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            border: 0;
            z-index: -1;
        }

        .dante-text {
            flex-direction: column;
            width: 100%;
            padding: 0 40px;
            margin-top: 320px;

            h1 {
                padding: 0;
            }

            p {
                padding: 40px;
                font-size: 16px;
                background-color: $primary-color-low-opacity;

            }
        }
    }
    
    
}