
footer {
    position: fixed;
    bottom:0;
    right: 0;
    padding-right: 40px;
    padding-bottom: 20px;
    

    a{
        color: white;
        font-family: "Voga";
        text-decoration: none;
        font-size: 20px;
        transition: .2s;

        &:hover {
            color: #AF1E15;
        }

        img {
            height: 30px;
            padding-right: 20px;
        }
    }
}