

header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 80px;
    font-family: "Voga";
    animation: dropDownHeader 1s ease-out;

    .logo {
        font-size: 50px;
        animation: logoBreath 20s infinite ease-in-out;

        &:hover {
            font-size: 54px;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
    }

    li {
        text-decoration: none;
        padding: 0 30px; 
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        transition: .5s;
        
        &:hover {
            border-bottom: 1px $primary-color solid;
            letter-spacing: 2px;
        }
    }
}



@media only screen and (max-width: 576px) {
    header {
        height: fit-content;
        flex-direction: column;
        padding-top: 10px;
        animation: dropDownHeader 2s;
        
        
        ul {
            padding: 0;
        }
        li {
            padding: 10 20px;
            
        }

        a {
            font-size: 18px;
            
        }
    }
}